# =========================================================
# TELEGRAM
# =========================================================

BOT_TOKEN=


# =========================================================
# ADMIN
# =========================================================

ADMIN_ID=


# =========================================================
# PAYMENT
# =========================================================

BKASH_NUMBER=
NAGAD_NUMBER=


# =========================================================
# CUSTOMER SUPPORT
# =========================================================

SUPPORT_USERNAME=


# =========================================================
# SINTHIYA AI
# Optional
# =========================================================

GROQ_API_KEY=


# =========================================================
# SERVER
# =========================================================

PORT=3000


# =========================================================
# SQLITE DATABASE
# =========================================================

DB_PATH=./data/course_nibo.db


# =========================================================
# DEBUG
# Optional
# Set true only when debugging
# =========================================================

DEBUG=false
